.header
  %ul.nav.nav-pills.pull-right
    %li.active= link_to "Profile", my_profile_path
    %li= link_to "About", "#"
    %li= link_to "Upload", my_profile_path

  %h3.text-muted= link_to "1appamonth", root_path
